h4,h5{display:inline-block;}

h4{
  font-style: italic;
  color:black;
  text-align: center;
  margin-left:35%;
  margin-top:3%;
}

h5{
    margin-top:4%;
    margin-left:10%;



}

.select_drop{
outline:none;
background-color: transparent;
display: inline-block;
margin-left: 10%;
}

.form-control{
  padding-right: 50%;
   display: inline-block;
}

select::active{
  background:transparent;
}
